aside {
  background-color: yellow;
  height: 50vh;
}

header {
  background-color: green;
  height: 10vh;
}

main {
  background-color : blue;
}

footer {
  background-color : red;
  height: 10vh;
}

body {
  height: 100vh;
}

body>div {
  height: 100%;
}

.container-fluid .row:nth-child(1), .container-fluid .row:nth-child(3) {
  height: 25%;
}

.container-fluid .row:nth-child(3), {
  height: 50%;
}